#mobile  {
	width: 100vw;
	height: 100vh; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
	border: 0;
}

#mobile [data-page] {				
	display: none;
	width: 100%;
	height: 100vh;
	background: #1E1E1E;
	color: #fff;
}

#mobile [data-page].active {
	display: block;
}

#mobile .code-container {
	height: 320px;
	position: absolute;
	top: calc(50vh - 160px);
	left: 0;
	right: 0;
	overflow: hidden;
}

#mobile .code-label {
	display: none;
	font-size: 13px;
	margin-bottom: 20px;
	text-align: center;
	color: #A9A9A9;
	font-weight: normal;
}

#mobile .code-logo {
	text-align: center;
	color: #CCC9C9;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

#mobile .code-label b {
	color: #CCC9C9;
}

#mobile #code {
	width: 171px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #545454;
	font-size: 24px;
	background: transparent;
	border-bottom: solid 1px #979797;
}

#mobile .number-buttons {
	position: relative;
	width: 171px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;

}

#mobile .number-buttons button:nth-child(3), 
#mobile .number-buttons button:nth-child(6),
#mobile .number-buttons button:nth-child(9), 
#mobile .number-buttons button:nth-child(12)  {
	margin-right: 0;
}

#mobile .number-buttons button {
	outline: none;
	float: left;
	border:none;
	width: 55px;
	height: 38px;
	background: #2C2C2C;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	color:#E9D460;
	margin-right: 3px;
	margin-bottom: 3px;
}

#mobile .number-buttons button:active {
	background:#E9D460;
	color:#2C2C2C;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

#mobile .number-buttons button:nth-child(10), 
#mobile .number-buttons button:nth-child(11),
#mobile .number-buttons button:nth-child(12) {
	margin-bottom: 0;
}



/*** SPACESHIP CAROUSEL ***/ 

#mobile [data-page="spaceship"] {
	color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #bd5d5c; /* Old browsers */
	background: -moz-linear-gradient(top, #bd5d5c 0%, #bd5d5c 50%, #f2f2f2 50%, #f2f2f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bd5d5c 0%,#bd5d5c 50%,#f2f2f2 50%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bd5d5c 0%,#bd5d5c 50%,#f2f2f2 50%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd5d5c', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
copy
}

#mobile [data-page="spaceship"].lightside {
	background: #bd5d5c; /* Old browsers */
	background: -moz-linear-gradient(top, #004697 0%, #004697 50%, #f2f2f2 50%, #f2f2f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #004697 0%,#004697 50%,#f2f2f2 50%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #004697 0%,#004697 50%,#f2f2f2 50%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004697', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
copy
}

#mobile .spaceship {
	position: absolute;
	top: 0; bottom: 50px;
	left: 0; right: 0;
	width: 100%;
	transform: translateY(calc(100% + 60px));
	transition-duration: 200ms;
}

#mobile .spaceship .preview {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;

}

#mobile .spaceship.unavailable .preview {
	opacity: 0.3;
}

#mobile  .ship_name {
	height: 15vh ;
	padding-top: calc(15vh - 10px);
	width: 200px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	font-size:20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	/* JEDI STARFIGHT Copy: */
	color: #F1F0F0;
}

#mobile #swipe-anim {
	width: 7px;
	height: 52px;
	margin-top: calc(50vh - 26px);
	margin-left: 95%;
}

#mobile #swipe-anim .swipe-rounds {
	width: 7px;
	height: 7px;
	border-radius: 100%;
	display: inline-block;
	background-color: #fff;
	z-index: 30;
	position:relative;
	margin-right: 4px;
	opacity: 0.5;
}

#mobile #swipe-anim .swipe-rounds.active {
	opacity: 1;
}

#mobile #swipe-anim .swipe-rounds:nth-child(4) {
	margin-right: 0;
}

#mobile #spaceship-play {
	position: absolute;
	z-index: 2;
	width: 200px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border: 0;
	background: #D6D6D1;
	box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.50);
	outline: none;
	position: absolute;
	bottom: 30px;
	left: calc(50% - 100px);
}


@media screen and (min-height: 400px) {
	#mobile .code-label {
		margin-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
	}

	#mobile .code-container {
		height: 400px;
		top: calc(50vh - 200px);
	}
}


