#mobile  {
	width: 100vw;
	height: 100vh;
	border: 0;
}

#mobile * {
	-webkit-user-select :none;
	   -moz-user-select :none;
	    -ms-user-select :none;
	        user-select :none;
}

#mobile #errors .error {
	top: 0; left: 0; right: 0;
	position: fixed;
	-webkit-transform: translateY(-50px);
	   -moz-transform: translateY(-50px);
	    -ms-transform: translateY(-50px);
	     -o-transform: translateY(-50px);
	        transform: translateY(-50px);
	-webkit-transition-duration: 200ms;
	   -moz-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
	background: #ccc9c9;
	color: rgba(0,0,0,0.8);
	text-align: center;
	font-size: 13px;
	height: 50px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 17px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid 1px #969595;
	z-index: 10;
}

#mobile #errors .error.active {
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
}

#mobile [data-page] {
	display: none;
	width: 100%;
	height: 100vh;
	background: #1E1E1E;
	color: #fff;
}

#mobile [data-page] .error {
	display: none;
	position: absolute;
	width: 300px;
	text-align: center;
	height: 30px;
	top: -webkit-calc(50vh - 15px);
	top: -moz-calc(50vh - 15px);
	top: calc(50vh - 15px);
	left: -webkit-calc(50% - 150px);
	left: -moz-calc(50% - 150px);
	left: calc(50% - 150px);
}

#mobile [data-page].active {
	display: block;
}

#mobile .code-container {
	height: 320px;
	position: absolute;
	top: -webkit-calc(50vh - 160px);
	top: -moz-calc(50vh - 160px);
	top: calc(50vh - 160px);
	left: 0;
	right: 0;
	overflow: hidden;
}

#mobile .code-label {
	display: none;
	font-size: 13px;
	margin-bottom: 20px;
	text-align: center;
	color: #A9A9A9;
	font-weight: normal;
}

#mobile .code-logo {
	text-align: center;
	color: #CCC9C9;
	font-size: 20px;
	margin-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}

#mobile .code-label b {
	color: #CCC9C9;
}

#mobile #code {
	width: 171px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	text-align: center;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #545454;
	font-size: 24px;
	background: transparent;
	border-bottom: solid 1px #979797;
}

#mobile .number-buttons {
	position: relative;
	width: 171px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;

}

#mobile .number-buttons button:nth-child(3),
#mobile .number-buttons button:nth-child(6),
#mobile .number-buttons button:nth-child(9),
#mobile .number-buttons button:nth-child(12)  {
	margin-right: 0;
}

#mobile .number-buttons button {
	outline: none;
	float: left;
	border:none;
	width: 55px;
	height: 38px;
	background: #2C2C2C;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	color:#E9D460;
	margin-right: 3px;
	margin-bottom: 3px;
}

#mobile .number-buttons button:active {
	background:#E9D460;
	color:#2C2C2C;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
	        box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
}

#mobile .number-buttons button:nth-child(10),
#mobile .number-buttons button:nth-child(11),
#mobile .number-buttons button:nth-child(12) {
	margin-bottom: 0;
}



/*** SPACESHIP CHOICE ***/
#mobile [data-page="spaceship"] {
	color: #fff;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

#mobile .spaceship {
	float: left;
	width: -webkit-calc(100% / 4);
	width: -moz-calc(100% / 4);
	width: calc(100% / 4);
	height: 100vh;
}

#mobile .spaceship:nth-child(even) {
	background: rgba(0,0,0,0.3);
}

#mobile .spaceship .preview {
	width: 150px;
	height: 112px;
	margin-top: -webkit-calc(40vh - 56px);
	margin-top: -moz-calc(40vh - 56px);
	margin-top: calc(40vh - 56px);
	display: block;
	margin-left: auto;
	margin-right: auto;
	-webkit-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	     -o-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

#mobile .spaceship.unavailable .preview,
#mobile .spaceship.unavailable .ship_name {
	opacity: 0.1;
}

#mobile .ship_name {
	margin-top: 10vh;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	text-align: center;
	color: #F1F0F0;
}



/*** WAITING ***/
#mobile [data-page="waiting"] {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#mobile [data-page="waiting"] h3 {
	font-family: "Roboto";
	position: absolute;
	margin: 0;
	font-size: 20px;
	width: 380px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #ccc9c9;
	left: -webkit-calc(50% - 190px);
	left: -moz-calc(50% - 190px);
	left: calc(50% - 190px);
	top: -webkit-calc(50vh - ((150px / 1.3)/2) - 15px);
	top: -moz-calc(50vh - ((150px / 1.3)/2) - 15px);
	top: calc(50vh - ((150px / 1.3)/2) - 15px);
}

#mobile .spaceship-waiting {
	width: 150px;
	height: -webkit-calc(150px / 1.3);
	height: -moz-calc(150px / 1.3);
	height: calc(150px / 1.3);
	background: url('../img/waiting.png');
	-o-background-size: 150px calc(150px / 1.3);
	   background-size: 150px -webkit-calc(150px / 1.3);
	   background-size: 150px -moz-calc(150px / 1.3);
	   background-size: 150px calc(150px / 1.3);
	position: absolute;
	top: -webkit-calc(50vh - ((150px / 1.3)/2));
	top: -moz-calc(50vh - ((150px / 1.3)/2));
	top: calc(50vh - ((150px / 1.3)/2));
	left: -webkit-calc(50% - 75px);
	left: -moz-calc(50% - 75px);
	left: calc(50% - 75px);
	-webkit-animation: spaceship-waiting 2s linear infinite;
	   -moz-animation: spaceship-waiting 2s linear infinite;
	     -o-animation: spaceship-waiting 2s linear infinite;
	        animation: spaceship-waiting 2s linear infinite;
}

#mobile .spaceship-waiting.leave {
	-webkit-animation: spaceship-leaving 500ms linear;
	   -moz-animation: spaceship-leaving 500ms linear;
	     -o-animation: spaceship-leaving 500ms linear;
	        animation: spaceship-leaving 500ms linear;
	-webkit-transform: translateX(300%);
	   -moz-transform: translateX(300%);
	    -ms-transform: translateX(300%);
	     -o-transform: translateX(300%);
	        transform: translateX(300%);
}

@-webkit-keyframes spaceship-waiting {
	0% {-webkit-transform: translateY(0);transform: translateY(0);}
	25% {-webkit-transform: translateY(5px);transform: translateY(5px);}
	50% {-webkit-transform: translateY(0);transform: translateY(0);}
	75% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}
	100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@-moz-keyframes spaceship-waiting {
	0% {-moz-transform: translateY(0);transform: translateY(0);}
	25% {-moz-transform: translateY(5px);transform: translateY(5px);}
	50% {-moz-transform: translateY(0);transform: translateY(0);}
	75% {-moz-transform: translateY(-5px);transform: translateY(-5px);}
	100% {-moz-transform: translateY(0);transform: translateY(0);}
}

@-o-keyframes spaceship-waiting {
	0% {-o-transform: translateY(0);transform: translateY(0);}
	25% {-o-transform: translateY(5px);transform: translateY(5px);}
	50% {-o-transform: translateY(0);transform: translateY(0);}
	75% {-o-transform: translateY(-5px);transform: translateY(-5px);}
	100% {-o-transform: translateY(0);transform: translateY(0);}
}

@keyframes spaceship-waiting {
	0% {-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
	25% {-webkit-transform: translateY(5px);-moz-transform: translateY(5px);-o-transform: translateY(5px);transform: translateY(5px);}
	50% {-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
	75% {-webkit-transform: translateY(-5px);-moz-transform: translateY(-5px);-o-transform: translateY(-5px);transform: translateY(-5px);}
	100% {-webkit-transform: translateY(0);-moz-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}
}

@-webkit-keyframes spaceship-leaving {
	0% {-webkit-transform: translateX(0);transform: translateX(0);}
	100% {-webkit-transform: translateX(300%);transform: translateX(300%);}
}

@-moz-keyframes spaceship-leaving {
	0% {-moz-transform: translateX(0);transform: translateX(0);}
	100% {-moz-transform: translateX(300%);transform: translateX(300%);}
}

@-o-keyframes spaceship-leaving {
	0% {-o-transform: translateX(0);transform: translateX(0);}
	100% {-o-transform: translateX(300%);transform: translateX(300%);}
}

@keyframes spaceship-leaving {
	0% {-webkit-transform: translateX(0);-moz-transform: translateX(0);-o-transform: translateX(0);transform: translateX(0);}
	100% {-webkit-transform: translateX(300%);-moz-transform: translateX(300%);-o-transform: translateX(300%);transform: translateX(300%);}
}

/*** RULES ***/

#mobile [data-page="rules"] {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#mobile [data-page="rules"] h3 {
	font-family: "Roboto";
	position: absolute;
	margin-top: -50px;
	font-size: 20px;
	width: 380px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #ccc9c9;
	left: -webkit-calc(50% - 190px);
	left: -moz-calc(50% - 190px);
	left: calc(50% - 190px);
	top: -webkit-calc(50vh - ((150px / 1.3)/2) - 15px);
	top: -moz-calc(50vh - ((150px / 1.3)/2) - 15px);
	top: calc(50vh - ((150px / 1.3)/2) - 15px);
}

#mobile [data-page="rules"] .multi {
    width: 100vh;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    font-family: "Roboto";
    color: #ccc9c9;
    text-align: center;
    margin-top: 35vh;
    position: relative;

}

#mobile [data-page="rules"] img {
    width:202px;
    left: -webkit-calc(50% - 101px);
    left: -moz-calc(50% - 101px);
    left: calc(50% - 101px);
    bottom: -25px;
    position: absolute;

}

#mobile #pass {
	border:0;
	background:none;
	width:110px;
    left: -webkit-calc(100% - 120px);
    left: -moz-calc(100% - 120px);
    left: calc(100% - 120px);
    bottom:7px;
    position: absolute;
    font-family: "Roboto";
    font-size: 15px;
    color: #636363;
    text-transform: uppercase;


}

/*** IN GAME ***/
#mobile [data-page="game"] {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#mobile [data-page="game"] p {
	font-family: "Roboto";
	position: absolute;
	margin: 0;
	font-size: 20px;
	width: 317px;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #ccc9c9;
	left: -webkit-calc(50% - 158.5px);
	left: -moz-calc(50% - 158.5px);
	left: calc(50% - 158.5px);
	top: -webkit-calc(50vh - 12px);
	top: -moz-calc(50vh - 12px);
	top: calc(50vh - 12px);
}

#mobile [data-page="replay"] {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#mobile [data-page="replay"] p {
	font-family: "Roboto";
	position: absolute;
	margin: 0;
	font-size: 20px;
	width: 317px;
	height: 100px;
	text-align: center;
	text-transform: uppercase;
	color: #ccc9c9;
	left: -webkit-calc(50% - 158.5px);
	left: -moz-calc(50% - 158.5px);
	left: calc(50% - 158.5px);
	top: -webkit-calc(50vh - 50px);
	top: -moz-calc(50vh - 50px);
	top: calc(50vh - 50px);
}

#mobile [data-page="replay"] p button {
	outline: none;
	border:none;
	padding: 10px;
	background: #2C2C2C;
	text-align: center;
	font-size: 20px;
	font-weight: uppercase;
	font-weight: 900;
	color:#E9D460;
	margin-right: 3px;
	margin-top: 30px;
}

@media screen and (min-height: 420px) {
	#mobile .code-label {
		margin-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
	}

	#mobile .code-container {
		height: 400px;
		top: -webkit-calc(50vh - 200px);
		top: -moz-calc(50vh - 200px);
		top: calc(50vh - 200px);
	}

	#mobile .spaceship,
	#mobile .spaceship-waiting,
	#mobile [data-page="waiting"] h3,
	#mobile [data-page="rules"] h3,
	#mobile [data-page="rules"] p,
	#mobile [data-page="rules"] img,
	#mobile [data-page="rules"] button,
	#mobile [data-page="game"] p,
	#mobile [data-page="replay"] p {
		display: none;
	}

	#mobile [data-page] .error {
		display: block;
	}
}
