<section id="desktop">

	<!--LANDING PAGE-->
	<section data-page="landing-page" class="active">
		
		<video src="img/SRacers.mp4" id="video" 
		autoplay
		loop
		>
		Your browser doesn't support video API, sorry.
		</video>

		<div id="video-opacity"></div>

		<p>STAR WARS: SPACE RACERS</p>
		
		<button id="askCode">play now</button>

	</section>

	<!--ROOM CODE-->
	<section data-page="room-code">
		
		<div id="code">
		    <h1></h1>
		    <p id="p1"> open <b>starwars-spaceracers.tk</b> on your</br>
		    	smartphone and enter the code below </p>
		    <p id="p2"> click continue when all players joined the room </p>
		    <img src="img/mockupcode.png">
		    <button id="start-game">CONTINUE</button>
		</div>

	</section>

	<!-- SPACESHIP SELECTION --> 
	<section data-page="selection">
		
		Selection
		
	</section>

	<!-- GAME PAGE --> 
	<section data-page="game">
		
		<canvas id="game">
	        Your browser doesn't support canvas
	    </canvas>
		
	</section>

</section>