<section id="mobile">
	
	<div id="txt">SPACE RACERS</div>

	<div id="keyboard"> 

		<h2 class="code-label">Enter the room code</h2>

		<div id="code"></div>

		<div class="number-buttons">

			<button data-value="1"> 1 </button>
			<button data-value="2"> 2 </button>
			<button data-value="3"> 3 </button>
			<button data-value="4"> 4 </button>
			<button data-value="5"> 5 </button>
			<button data-value="6"> 6 </button>
			<button data-value="7"> 7 </button>
			<button data-value="8"> 8 </button>
			<button data-value="9"> 9 </button>
			<button id="del"> del </button>
			<button data-value="0"> 0 </button>
			<button id="join"> ok </button>

		</div>
	
	</div>



</section>