<section id="mobile">
	
	<!-- CODE -->
	<section data-page="code" class="active">
		<div id="txt">SPACE RACERS</div>
		<div id="keyboard"> 
			<h2 class="code-label">Enter the room code</h2>
			<div id="code">3707</div>

			<div class="number-buttons">
				<button data-value="1"> 1 </button>
				<button data-value="2"> 2 </button>
				<button data-value="3"> 3 </button>
				<button data-value="4"> 4 </button>
				<button data-value="5"> 5 </button>
				<button data-value="6"> 6 </button>
				<button data-value="7"> 7 </button>
				<button data-value="8"> 8 </button>
				<button data-value="9"> 9 </button>
				<button id="del"> del </button>
				<button data-value="0"> 0 </button>
				<button id="join"> ok </button>
			</div>

		</div>
	</section>
	<!-- END -->


	<!-- SPACESHIP CHOICE -->
	<section data-page="spaceship">
		<div id="swipe-anim">
			<div class="swipe-rounds active" data-index="1"></div>
			<div class="swipe-rounds" data-index="2"></div>
			<div class="swipe-rounds" data-index="3"></div>
			<div class="swipe-rounds" data-index="4"></div>
		</div>

		<section class="spaceship" data-spaceship="1">
			<div class="ship_name">JEDI STARFIGHT</div>
			<img src="img/game/jedi1.png" class="preview">
			<button>PLAY</button>
		</section>

		<section class="spaceship" data-spaceship="2">
			<div class="ship_name">X WINGS</div>
			<img src="img/game/jedi1.png" class="preview">
			<button>PLAY</button>
		</section>

		<section class="spaceship" data-spaceship="3">
			<div class="ship_name">SLAVE 1</div>
			<img src="img/game/jedi1.png" class="preview">
			<button>PLAY</button>
		</section>

		<section class="spaceship" data-spaceship="4">
			<div class="ship_name">VAISSEAU 4</div>
			<img src="img/game/jedi1.png" class="preview">
			<button>PLAY</button>
		</section>
	</section>
	<!-- END -->


	<!-- WAITING PAGE -->
	<section data-page="waiting">
		<center><h3 style="color: white">WAITING</h3></center>
	</section>

</section>
