<section id="mobile">
	
	<!-- CODE -->
	<section data-page="code" class="active">
		<section class="code-container">
			<div class="code-logo">STAR WARS: SPACE RACERS</div>
			<h2 class="code-label">open <b>star-wars-racers.heroku.com</b> on your laptop to get the code</h2>
			
			<div id="code"></div>

			<div class="number-buttons">
				<button data-value="1"> 1 </button>
				<button data-value="2"> 2 </button>
				<button data-value="3"> 3 </button>
				<button data-value="4"> 4 </button>
				<button data-value="5"> 5 </button>
				<button data-value="6"> 6 </button>
				<button data-value="7"> 7 </button>
				<button data-value="8"> 8 </button>
				<button data-value="9"> 9 </button>
				<button id="del"> <span class="ion-backspace"></span> </button>
				<button data-value="0"> 0 </button>
				<button id="join"> <span class="ion-checkmark"></span> </button>
			</div>
		</div>
	</section>
	<!-- END -->


	<!-- SPACESHIP CHOICE -->
	<section data-page="spaceship">
		<div id="swipe-anim">
			<div class="swipe-rounds active" data-index="1"></div>
			<div class="swipe-rounds" data-index="2"></div>
			<div class="swipe-rounds" data-index="3"></div>
			<div class="swipe-rounds" data-index="4"></div>
		</div>

		<button id="spaceship-play">READY</button>

		<section class="spaceship" data-side="dark" data-spaceship="1">
			<div class="ship_name">TIE/IN INTERCEPTOR</div>
			<img src="img/interceptor.png" class="preview">
		</section>

		<section class="spaceship" data-side="light" data-spaceship="2">
			<div class="ship_name">X WING</div>
			<img src="img/xwing.png" class="preview">
		</section>

		<section class="spaceship" data-side="dark" data-spaceship="3">
			<div class="ship_name">SMIT SITH</div>
			<img src="img/smit_sith.png" class="preview">
		</section>

		<section class="spaceship" data-side="light" data-spaceship="4">
			<div class="ship_name">VAISSEAU 4</div>
			<img src="img/game/jedi1.png" class="preview">
		</section>
	</section>
	<!-- END -->


	<!-- WAITING PAGE -->
	<section data-page="waiting">
		<center><h3 style="color: white">WAITING</h3></center>
	</section>

</section>
